@{
    ViewBag.Title = "Bulletproof Contact Information";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Level 17, 60 Margaret Street<br />
    Sydney NSW 2000<br />
    <abbr title="Phone">P:</abbr>
    +61 (0)2 9663 9000
</address>

<address>
    <strong>Author:</strong>   <a href="mailto:james.okeeffe@bulletproof.net">james.okeeffe@bulletproof.net</a><br />
</address>