@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Bulletproof Azure Blue/Green Prototype</h2>
    <p class="home-description">This is a simple ASP.NET 4.6.1 MVC application to act as the test vehicle for an Azure Web Application sample (ARM Template) utilising multiple deployment slots to achieve a Blue/Green deployment model.</p>
</div>
